.tech-row {
  align-items: center;
}

.technologies {
  padding: 0 0 0 0;

  &__header {
    width: 20%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__logo-box {
    max-width: 10%;
    height: 3rem;
    margin: 1rem 0 1.5rem 0.5rem;
    padding: 0.5rem;
    text-align: center;
    position: relative;
    font-family: 'Poppins', sans-serif;

    img {
      height: 100%;

      &:hover {
        filter: grayscale(120);
      }
    }

  }
}